<div class="container">

    <br>
    <h1>Pipes</h1>
    <hr class="divider">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Var</th>
                <th scope="col">Pipe</th>
                <th scope="col">Product</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ nombre }}</th>
                <td>UpperCase Pipe</td>
                <td>{{ nombre | uppercase }}</td>
            </tr>
            <tr>
                <th scope="row">{{ nombre }}</th>
                <td>lowerCase Pipe</td>
                <td>{{ nombre | lowercase }}</td>
            </tr>
            <tr>
                <th scope="row">{{ nombre }}</th>
                <td>Slice Pipe --> slice:0:10</td>
                <td>{{ nombre | slice:0:10 }}</td>
            </tr>

            <tr>
                <th scope="row">{{ arr }}</th>
                <td>Slice Pipe for Arr of numbers--> slice:1:5</td>
                <td>{{ arr | slice:1:5 }}</td>
            </tr>

            <tr>
                <!-- por default muestra 3 decimales-->
                <th scope="row">{{ PI }}</th>
                <td>Decimal Pipe --> number:'1.0-5'</td>
                <!-- pipe format {minIntegerDigits}.{maxIntegerDigits} - {maxFractionDigits}-->
                <td>{{ PI | number:'1.0-5' }}</td>
            </tr>

            <tr>
                <!-- por default muestra 3 decimales-->
                <th scope="row">{{ PI }}</th>
                <td>Decimal Pipe --> number:'2.0-2'</td>
                <!-- pipe format {minIntegerDigits}.{maxIntegerDigits} - {maxFractionDigits}-->
                <td>{{ PI | number:'2.0-2' }}</td>
            </tr>

            <tr>
                <th scope="row">{{ dec }}</th>
                <td>Percent Pipe</td>
                <td>{{ dec | percent }}</td>
            </tr>

            <tr>
                <!-- por default multiplica x 100 el decimal indicado-->
                <th scope="row">{{ dec }}</th>
                <td>percent Pipe --> percent:'2.1-2'</td>
                <!-- pipe format {minIntegerDigits}.{maxIntegerDigits} - {maxFractionDigits}-->
                <td>{{ dec | percent:'2.1-2' }}</td>
            </tr>

            <tr>
                <th scope="row">{{ money }}</th>
                <td>Money Pipe for default</td>
                <td>{{ money | currency }}</td>
            </tr>

            <tr>
                <th scope="row">{{ money }}</th>
                <td>Money Pipe --> currency:'EUR':'symbol-narrow' </td>
                <td>{{ money | currency:'EUR':'symbol-narrow':'.2-2' }}</td>
            </tr>

            <tr>
                <th scope="row">{{ jsonObj }}</th>
                <td>Json Pipe </td>
                <td>{{ jsonObj | json }}</td>
            </tr>


            <tr>
                <th scope="row">{{ valuePromise }}</th>
                <td>Async Pipe </td>
                <td>{{ valuePromise | async }}</td>
            </tr>


            <tr>
                <th scope="row">{{ dateTest }}</th>
                <td>using Date Pipe --> Date </td>
                <td>{{ dateTest | date }}</td>
            </tr>

            <tr>
                <th scope="row">{{ dateTest }}</th>
                <td>using Date Pipe--> date:'medium' </td>
                <td>{{ dateTest | date:'medium' }}</td>
            </tr>

            <tr>
                <th scope="row">{{ dateTest }}</th>
                <td>using Date Pipe--> date:'shortDate' </td>
                <td>{{ dateTest | date:'shortDate' }}</td>
            </tr>


            <tr>
                <th scope="row">{{ formatName }}</th>
                <td>using perzonalize Pipe</td>
                <td>{{ formatName | specialPipe }}</td>
            </tr>


            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
            </tr>

            <tr>
                <th scope="row">{{ passwd }}/th>
                    <td>pipe customized <button type="button" (click)="activatePipe()" class="btn btn-outline-primary ">activar/desactivar Pipe</button></td>
                    <td>{{ passwd | showPasswd:passAct }}</td>
            </tr>


        </tbody>
    </table>

    <!-- insertar video forma 1 -->
    <div class="container video-html" [innerHtml]="iframe_html">

    </div>
    <!--- insertar video forma 2 -->
    <div class="container"> frameborder="0" allowfullscreen="">
        <iframe width="560" height="315" [src]="srcURL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>



</div>